<section>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="page-header bg-text">
                <h1 style="text-align: center">About Us</h1>
            </div>
            <h4 class="bg-text" style="text-align: center; padding-bottom: 9px">Our 3 Top instructors have over 100 years of combined Martial Arts Experience, including disciplines from all countries. We are not a franchise store, the individual is our focus. Small class sizes translate to bettter training, quicker learning and complete comprehension.</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object about-pic" src="modules/core/img/staff/Steve Bio Pic.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Steven Eldridge - Owner</h2>
                            Early History </br></br>
At the early age of 5, he began his love of martial arts, influenced heavily by Bruce Lee, and his Grandfather, who was a boxer that fought the Under Card of Jack Dempsy. His training began at the age of 12 in the discipline of Aikido under Sensei Anthony Graziano, Deputy Sheriff, Academy Instructor, Canine trainer, and founder of Melbourne Aikikai. His interest in Martial Arts kept expanding through his teens, where he trained in several arts from Florida to California and from a diverse set of instructors from multiple disciplines.  
</br></br>Philosophy</br></br>
While studying different styles, he got a deep understanding that all disciplines have some strengths and weaknesses, and how different ways should be used under different circumstances.  That is when he really found how to blend the arts together to end aggression from any real attack. 
</br></br>Related Work Life</br></br>
Steven was a bodyguard for multiple Professional Athletes and Movie Stars.  Additional jobs included High Level Security for some major contractors.  Much of his life and training involved close work with Instructors as Sempai.
 </br></br>Present</br></br>
For over 20 years, Steven has provided private lessons to citizens and military personnel. Recently, he has been involved in several public teaching venues, currently teaching at the Okinawan Karate Academy in Melbourne, FL.

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-text">
                <img class="img-responsive" src="modules/core/img/staff/228875_178650268869108_1851460_n.jpg"/>
                <h3>Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>
            
            <div class="col-md-4 bg-text">
                <img class="img-responsive" src="modules/core/img/staff/1477691_604062829661181_705138266_n.jpg"/>
                <h3>Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>

            <div class="col-md-4 bg-text">
                <img class="img-responsive" src="modules/core/img/staff/IMG_6474_2.jpg"/>
                <h3>Title</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br/> 
</section>
