<section data-ng-controller="AboutController">
    <div class="container">
        <div class="page-header">
            <h1> ABOUT PAGE TODO LIST </h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://www.mbpopart.com/assets/paintings%20by%20year/2012/shipit.jpg" />
            </div>
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://media.giphy.com/media/RpqSdirqOryI8/giphy.gif"/>
            </div>
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://shipitsquirrel.github.io/images/ship%20it%20squirrel.png"/>
            </div>
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://shipping-at-the-speed-of-life.herokuapp.com/image/intro/tanker.jpeg"/>
            </div>
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://www.troll.me/images/bush/ship-it.jpg"/>
            </div>
            <div class="row panel panel-default">
                <img class="img-responsive center-block" src="http://24.media.tumblr.com/tumblr_mddkdtUC1a1r9qnhbo1_400.gif"/>
            </div>
        </div>
        <div class="col-md-2"></div>
</section>
