<section>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="page-header">
                <h1 style="text-align: center">About</h1>
                <h4 style="text-align: center">Our philosophy is to blend all martial arts back to their roots. By doing that, we understand how they interact and how they can be used properly. That understanding is translated, then passed to the students in a easy to understand and fast learning environment.</h4>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object about-pic" src="http://img1.wikia.nocookie.net/__cb20130318151721/epicrapbattlesofhistory/images/6/6d/Rick-astley.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Rick Astley - Owner</h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam. Nulla auctor lorem congue, posuere urna at, efficitur ex. In ultrices quam et sem cursus egestas. Vestibulum vitae suscipit magna, nec malesuada est. Mauris lacus nisi, pretium eget dui in, porttitor tempus enim. Cras gravida efficitur justo malesuada gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </div>
                    </div>
                </div>
            </div>

              <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object about-pic" src="http://img1.wikia.nocookie.net/__cb20130318151721/epicrapbattlesofhistory/images/6/6d/Rick-astley.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Rick Astley - Co-Owner</h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam. Nulla auctor lorem congue, posuere urna at, efficitur ex. In ultrices quam et sem cursus egestas. Vestibulum vitae suscipit magna, nec malesuada est. Mauris lacus nisi, pretium eget dui in, porttitor tempus enim. Cras gravida efficitur justo malesuada gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </div>
                    </div>
                </div>
            </div> 

                     <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object about-pic" src="http://img1.wikia.nocookie.net/__cb20130318151721/epicrapbattlesofhistory/images/6/6d/Rick-astley.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Rick Astley</h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam. Nulla auctor lorem congue, posuere urna at, efficitur ex. In ultrices quam et sem cursus egestas. Vestibulum vitae suscipit magna, nec malesuada est. Mauris lacus nisi, pretium eget dui in, porttitor tempus enim. Cras gravida efficitur justo malesuada gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-4">
                <img class="img-responsive" src="http://0.media.collegehumor.cvcdn.com/33/70/1ebb86bc409a2c94e60c7556c911e6f2.jpg"/>
                <h3>Cool Cat!</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>
            
            <div class="col-md-4">
                <img class="img-responsive" src="http://0.media.collegehumor.cvcdn.com/33/70/1ebb86bc409a2c94e60c7556c911e6f2.jpg"/>
                <h3>Cool Cat!</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>

            <div class="col-md-4">
                <img class="img-responsive" src="http://0.media.collegehumor.cvcdn.com/33/70/1ebb86bc409a2c94e60c7556c911e6f2.jpg"/>
                <h3>Cool Cat!</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum accumsan consectetur. Donec accumsan erat sit amet ex suscipit euismod. Cras quis erat interdum, condimentum elit sed, vehicula urna. In lobortis risus metus, vel semper turpis consectetur a. Praesent venenatis mauris tellus, eget iaculis elit hendrerit ac. Pellentesque in iaculis dui. Aliquam sit amet fringilla orci, vel efficitur quam.
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br/> 
</section>
