<section data-ng-controller="CalendarController">
    <div class="container"">
        <div class="col-md-4" background-color="#000000">
            <div class="page-header">
                <h1>Hours</h1>
            </div>
            <div class="panel panel-default"">
                <div class="panel-body">
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                    <li><b> Monday Never </b></li>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h1> Events </h1>
            </div>
            <div class="panel panel-default"">
                <div class="panel-heading">
                    <h1 class="panel-title""> Nov. 12 2014 </h1>
                </div>
                <div class="panel-body">
                    Blah Blah Yada.
                </div>
            </div>
            <div class="panel panel-default"">
                <div class="panel-heading">
                    <h1 class="panel-title""> Nov. 21 2014 </h1>
                </div>
                <div class="panel-body">
                    <h4> Moving Day 3:00 pm </h4>
                    Bacon ipsum dolor amet alcatra pork chop salami pig, tri-tip
                    bacon bresaola ball tip cupim andouille shank rump doner
                    landjaeger venison. Shankle tongue chuck flank. Drumstick
                    pork chop picanha, tail frankfurter landjaeger
                    swine. Prosciutto ribeye ball tip, pork strip steak beef
                    alcatra brisket ham pancetta kielbasa meatloaf sausage
                    landjaeger venison.
                </div>
            </div>
            <div class="panel panel-default"">
                <div class="panel-heading">
                    <h1 class="panel-title""> Dec. 13 2014 </h1>
                </div>
                <div class="panel-body">
                    Fatback tail pastrami bacon. Pork loin porchetta spare ribs
                    fatback, beef ribs salami short ribs sausage chuck
                    pastrami. Pancetta biltong strip steak, venison hamburger
                    sausage bacon rump.
                </div>
            </div>
        </div>
    </div>
</section>
