<section data-ng-controller="HomeController">
    <div class="jumbotron text-center hidden-xs">
        <div class="container text-center">  
            <div class="row vertical-align">
			    <div class="col-sm-3">
				    <img class="img-responsive center-block" src="modules/core/img/brand/logo.png"
                         height="220" />
                </div>
                <div class="col-sm-6">
                    <p>
                        Savate Silat Panantukan Aikido JKD Aikijujutsu Karate
                        Jujitsu Chin-na Wing chung Wrestling Judo Iaido Kempo
                        Ninjutsu TKD Kickboxing Kendo Boxing East Boxing West
                        Kali Escrima Kung Fu Weaponry Swordsmanship Krav Maga
                    </p>
                </div>
                <div class="col-sm-3">
                    <img class="img-responsive center-block" src="modules/core/img/brand/logo2.png"
                         height="220" />
                </div>
		    </div>
        </div>
	</div>
    <div class="container">
        <div class="col-sm-1"></div>
        <div class ="col-sm-10">
            <h1> Really Big Heading Telling You Things </h1>
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum
                erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean
                fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
                sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar
                facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor
                neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat
                volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
                luctus, metus
            </p>
            <h2> Location </h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="680" height="510" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0" align="middle"
                        src="https://maps.google.com/maps?q=2325%20Aurora%20Rd.%20Melbourne%2C%20FL%2032935&amp;output=embed">
                </iframe>
            </div>
            <div class="col-sm-1"></div>
        </div>
</section>
