<section data-ng-controller="HomeController">
	<div class="jumbotron text-center hidden-xs">
		<div class="container text-center">  
			<div class="row vertical-align">
				<div class="col-sm-3">
					<img class="img-responsive center-block" src="modules/core/img/brand/logo.png"
					height="220" />
				</div>
				<div class="col-sm-6">
					<p>
						Savate Silat Panantukan Aikido JKD Aikijujutsu Karate
						Jujitsu Chin-na Wing chung Wrestling Judo Iaido Kempo
						Ninjutsu TKD Kickboxing Kendo Boxing East Boxing West
						Kali Escrima Kung Fu Weaponry Swordsmanship Krav Maga
					</p>
				</div>
				<div class="col-sm-3">
					<img class="img-responsive center-block" src="modules/core/img/brand/logo2.png"
					height="220" />
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-1"></div>
		<div class ="col-sm-10">
			<section id="home">
				<div class="page-header">
					<h1> Advanced methods of learning </h1>
				</div>
				<p>
					Melbourne Martial Arts (M.M.A.) provides the best training and knowledge to understand what to do when needed. No techniques are hidden. Come learn the secrets you don't know. These methods will teach you quickly what techniques are effective and when to use them, thus neutralizing any attack.
					<br />
					<br />
					Aikido, Karate, Jujitsu, Weapons, JKD concepts, and many more...
				</p>
				<br />
				<h4> Beginner to Advanced </h4>
				<p>
					M.M.A has experts in many different disciplines of the martial arts, like Aikido, Karate, Jiu Jitsu and many more. Our unique method of teaching gets the student to a competent point quicker than any other method. Our experts are masters with weapons and can provide training on a variety of weapons.
				</p>
			</section>
			<section id="philosophy">
				<div class="page-header">
					<h1>Philosophy</h1>
				</div>
				<p>
					Our philosophy is to blend all martial arts back to their roots. By doing that, we understand how they interact and how they can be used properly. That understanding is translated, then passed to the students in a easy to understand and fast learning environment.
				</p>
				<p>
					<b>Insert Image Here</b> <br />
					<b>Insert Image Here</b> <br />
					<b>Insert Image Here</b> <br />
					<b>Insert Image Here</b>
				</p>
			</section>
			<section id="about">
				<div class="page-header">
					<h1> About Us </h1>
				</div>
				<p>
					Our 3 Top instructors have over 100 years of combined Martial Arts Experience, including disciplines from all countries. We are not a franchise store, the individual is our focus. Small class sizes translate to bettter training, quicker learning and complete comprehension. 
				</p>
				<ul type="circle"> 
					<li> Aikido </li> 
					<li> Karate </li> 
					<li> Jujitsu </li> 
					<li> Wrestling </li> 
					<li> Boxing </li> 
					<li> JKD </li> 
					<li> Tae Kwon Do </li> 
					<li> Ninjitsu </li> 
					<li> Chin-na </li> 
					<li> Kung Fu </li> 
					<li> Wing Chung </li> 
					<li> Weapons </li> 
					<li> Many More... </li> 
				</ul>
				<p>
					<b>Insert Photo Gallary/Video Here</b>
				</p>
			</section>
			<div class="row">
				<div class="col-sm-5">
					<section id="contact">
						<div class="page-header">
							<h1> Contact Us </h1>
						</div>
							<a href="tel:(321)-557-4546">
								<button type="button" class="btn btn-success btn-block">
									<div class="col-xs-2">
										<h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></h4>
									</div>
									<div class="col-xs-10">
										<h4><b>(321)-557-4546</b></h4>
									</div>
										
								</button>
							</a>
							<br />
							<a href="mailto:aikido1.se@gmail.com">
								<button type="button" class="btn btn-info btn-block">
									<div class="col-xs-2">
										<h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></h4>
									</div>
									<div class="col-xs-10">
										<h4><b>Email Us</b></h4>
									</div>
								</button>
							</a>
						<br />
						<p>
							Call for openings: seminars, private lessons and/or group classes
						</p>				
					</section>
				</div>
				<div class="col-sm-7">
					<section id="location" background="#f3f3f3">
						<div class="page-header">
							<h1> Location </h1>
						</div>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="680" height="510" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" align="middle" src="https://maps.google.com/maps?q=2325%20Aurora%20Rd.%20Melbourne%2C%20FL%2032935&amp;output=embed">
							</iframe>
						</div>
					</section>
				</div>
			</div>
			<div>
				<br />
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</section>
