.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* Class for vetical alignment. */
.vertical-align {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.front-jumbotron {
    background-image: -webkit-linear-gradient(top, #372544 0%, #22172A 100%);
    background-image: -o-linear-gradient(top, #372544 0%, #22172A 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#372544), to(#22172A));
    background-image: linear-gradient(to bottom, #372544 0%, #22172A 100%);
    color: #f2f2f2;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.container-footer {
    background-color: #f5f5f5;
}

.row-margin-30 {
    margin-left: 0px;
    margin-right: 0px;
}

.page-header-dark {
    border-bottom-color: #dddddd;
}
