<section data-ng-controller="CoursesController">
    <div class="modal-header">
        <h3 class="modal-title">Edit {{course.name}}</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div data-ng-show="error" class="text-center text-danger">
                <div class="alert alert-danger" role="alert">
	 				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	 				<span class="sr-only">Error:</span>
					<strong data-ng-bind="error"></strong>
				</div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.name" id="name" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.description" id="description" class="form-control" placeholder="description">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Price</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.price" id="price" class="form-control" placeholder="price">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Instructor</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.instructor" id="instructor" class="form-control" placeholder="instructor">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Video Demo</label>
                <div class="controls">
                    <input type="text" data-ng-model="course.demo" id="demo" class="form-control" placeholder="demo">
                </div>
            </div>
            <div class="form-group">
                <label for="sel1">Style</label>
                <select class="form-control" id="sel1" data-ng-model="course.style">
                    <option>Karate</option>
                    <option>Kenpō</option>
                    <option>Jujitsu</option>
                    <option>Ninjitsu</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Belt</label>
                <select class="form-control" id="sel1" data-ng-model="course.belt.color">
                    <option>White</option>
                    <option>Yellow</option>
                    <option>Gold</option>
                    <option>Orange</option>
                    <option>Green</option>
                    <option>Blue</option>
                    <option>Purple</option>
                    <option>Brown</option>
                    <option>Red</option>
                    <option>Black</option>
                </select>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button id="ok" class="btn btn-success" ng-click="update(course); ok()">OK</button>
        <button id="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>
