<div class="page-header">
    <h1 style="text-align: center;">Courses</h1>
</div>
<a href="/#!/courses/create">
    <button type="submit" class="btn btn-primary btn-lg center-block" ng-show="coursesCtrl.authentication.user.roles.indexOf('instructor') > -1 || coursesCtrl.authentication.user.roles.indexOf('admin') > -1"> 
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New Course 
    </button>
</a>
<br/>
<div class="panel panel-default" data-ng-repeat="course in coursesCtrl.courses">
    <div class="panel-body">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" style="height:64px;" src="http://www.coreygates.com/afma/images/roundhouse-kick.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h1> 
                <a ng-click="coursesCtrl.modalView('md', course)">
                    {{course.name}}
                </a>
                <div class="btn-group pull-right">                  
                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="coursesCtrl.modalUpdate('lg', course)" ng-show="coursesCtrl.authentication.user.roles.indexOf('instructor') > -1 || coursesCtrl.authentication.user.roles.indexOf('admin') > -1"> Edit </button>
                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="coursesCtrl.modalRemove('sm', course)" ng-show="coursesCtrl.authentication.user.roles.indexOf('admin') > -1"> Delete </button>
                </div>
            </h1>

        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-10 col-xs-9">
            <h4 class="truncate">
                {{course.description}}
            </h4>
        </div>
        <div class="col-sm-2 col-xs-3" style="padding-top: 3px; padding-right: 0px">
            <button
                type="button" 
                class="btn btn-success pull-right" 
                data-ng-click="purchaseCourse(course._id)"
                data-ng-show="!isCoursePurchased(course._id)">
                Purchase
            </button>
        </div>
    </div>    
</div>
