<section ng-controller="CoursesController">
    <div class="modal-header">
        <h3 class="modal-title">Purchase Course</h3>
    </div>
    <form stripe-form="handleStripe" name="myForm">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">    
                    <label for="">Name</label>
                    <input type="text" id="purchase_name" class="input-block-level form-control">
                </div>
                <div class="span3">

                <div class="form-group">
                    <label for="">Card</label>
                    <input type="text" id="purchase_card" class="input-block-level form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
                </div>
                </div>
                <div class="col-xs-6" style="padding-top:0px; padding-bottom:0px; padding-left:0px; padding-right:5px">
                    <div class="form-group">        
                        <label for="">Expiry</label>
                        <input type="text" id="purchase_expiry" class="input-block-level form-control" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
                    </div>
                </div>
                <div class="col-xs-6" style="padding-top:0px; padding-bottom:0px; padding-left:5px; padding-right:0px">
                    <div class="form-group">     
                        <label for="">CVC</label>
                        <div class="controls">
                            <input type="text" id="purchase_cvc" class="input-block-level form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button id="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button id="test" class="btn btn-danger" data-ng-click="purchaseCourse(course._id); ok()">Test</button>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            <!-- <button type="button" class="btn btn-block btn-success pull-right" data-ng-click="purchaseCourse(course._id)">
            Purchase
            </button> -->
        </div>
    </form>
</section>
