<div class="page-header">
    <h1 style="text-align: center;">Courses</h1>
</div>
<div class="panel-body">
    <a href="/#!/courses/create">
        <button type="submit" class="btn btn-primary btn-lg center-block" > 
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add New Course 
         </button>
    </a>
</div>
<div class="panel panel-default" data-ng-repeat="course in coursesCtrl.courses">
    <div class="panel-body">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" style="height:64px;" src="http://www.coreygates.com/afma/images/roundhouse-kick.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h1> 
                <a ng-click="coursesCtrl.modalView('lg', course)">
                    {{course.name}}
                </a>
                <div class="btn-group pull-right">                  
                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="coursesCtrl.modalUpdate('lg', course)" ng-show="coursesCtrl.authentication.user.roles.indexOf('instructor') > -1 || coursesCtrl.authentication.user.roles.indexOf('admin') > -1"> Edit </button>
                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="coursesCtrl.modalRemove('sm', course)" ng-show="coursesCtrl.authentication.user.roles.indexOf('admin') > -1"> Delete </button>
                </div>
            </h1>

        </div>
    </div>
    <div class="panel-footer clearfix">
        <h4>
            {{course.description}}
            <button type="button" class="btn btn-success pull-right">Purchase</button>
        </h4>
    </div>
</div>
