<section data-ng-controller="CoursesController" data-ng-init="find(); getUserBelts()">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="page-header">
                <h1 style="text-align: center;">Courses</h1>
            </div>
            <a href="/#!/courses/create" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1">
                <button type="submit" class="btn btn-primary btn-lg center-block" > 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add New Course 
                </button>
                <br/>
            </a>
            <div class="panel panel-default" data-ng-repeat="course in courses">
                <div class="panel-body">
                    <div class="media-left media-middle">
                        <a ng-click="modalView('md', course)">
                            <img class="media-object custom-media" style="height:64px;" src="../../../modules/core/img/brand/favicon.ico" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h1 class="course-heading"> 
                            <a ng-click="modalView('md', course)">
                                {{course.name}}
                            </a>
                            <div class="btn-group pull-right" style="padding-top: 5px;">                  
                                <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalUpdate('lg', course)" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1"> Edit </button>
                                <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalRemove('sm', course)" ng-show="authentication.user.roles.indexOf('admin') > -1"> Delete </button>
                            </div>
                        </h1>
                    </div>
                </div>
                <div class="panel-footer clearfix" data-ng-show="isCoursePurchased(course._id)">
                    <div class="col-sm-12">
                    <h4 class="truncate" style="padding-bottom: 2px">
                            {{course.description}}
                     </h4>
                    </div>
                </div>
                <div class="panel-footer clearfix" data-ng-show="!isCoursePurchased(course._id)">
                    <div class="col-sm-10">
                        <h4 class="truncate" style="padding-bottom: 2px">
                            {{course.description}}
                        </h4>
                    </div>
                    <div class="col-sm-2" style="padding-top: 3px; padding-right: 0px; padding-left: 0px" data-ng-show="!isCoursePurchased(course._id)">
                        <button type="button" class="btn btn-block btn-success pull-right" data-ng-click="purchaseCourse(course._id)">
                            Purchase
                        </button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
