<section data-ng-controller="LessonsController" data-ng-init="list()">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="page-header bg-text">
                <h1 style="text-align: center;">{{ course.name }}</h1>
            </div>
            <a href="/#!/course/{{course._id}}/createLesson" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1">
                <button type="submit" class="btn btn-primary btn-lg center-block center">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Lesson
                </button>
                <br/>
            </a>
            <div data-ng-show="error" class="text-center text-danger">
                <div class="alert alert-danger" role="alert">
	 				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	 				<span class="sr-only">Error:</span>
					<strong data-ng-bind="error"></strong>
				</div>
            </div>
            <div class="panel panel-default" data-ng-repeat="lesson in lessons">
                <div class="panel-body">
                    <div class="media-left media-middle">
                        <a href="/#!/course/{{lesson.courseIdr}}/{{lesson._id}}">
                            <img class="media-object custom-media" style="height:64px;" src="http://upload.wikimedia.org/wikipedia/commons/9/9f/Wikiversity-Mooc-Icon-Video.svg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h1 class="course-heading"> 
		                    <a data-ng-click="viewLesson(lesson)">
		                        {{ lesson.name }}
		                    </a>
		                    <div class="btn-group pull-right">
                                <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalUpdate('lg', lesson)" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1"> Edit </button>
                                <button class="btn btn-default btn-sm btn-material-red" type="submit" data-ng-click="modalRemove('sm', lesson)" ng-show="authentication.user.roles.indexOf('admin') > -1"> Delete </button>
		                        <!--<button class="btn btn-default btn-sm" type="submit" data-ng-click="modalUpdate('lg', course)" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1">
		                    	    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		                        </button>
		                        <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalRemove('sm', course)" ng-show="authentication.user.roles.indexOf('admin') > -1">
		                    	    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		                        </button>-->
		                    </div>
		                </h1>
                    </div>
                </div>
                <div class="panel-footer clearfix" data-ng-style="getBackgroundColor(lesson)">
                    <h4>
                        {{ lesson.description }}
                        <div class="pull-right" data-ng-show="isLessonComplete(lesson)">
                    	    <font color="#3c763d">Completed <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></font>
                        </div>
                        <br/>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</section>
