<section data-ng-controller="LessonsController" data-ng-init="redirect()">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="page-header">
            <h1 style="text-align: center;">New {{course.name}} Lesson</h1>
        </div>
        <fieldset>
            <div class="form-group">
                <label for="name">Lesson Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Lesson Name Goes Here" required ng-disabled="showProgressBar">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <div class="controls">
                    <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="A short lesson description" required ng-disabled="showProgressBar">
                </div>
            </div>
            <div class="form-group" ng-hide="showProgressBar">
                <span class="btn btn-primary btn-lg btn-block btn-file" ng-file-select ng-model="files" accept="video/mp4"> 
		            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		            Choose Video
		        </span>
            </div>
            <div class="form-group" ng-show="showProgressBar">
                <label for="name">Upload Progress</label>
                <div class="progress">
				    <progressbar class="progress-striped active" value="progressPercentage">{{ progressPercentage }}%</progressbar>
			    </div>
            </div>
            
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="create()">Save</button>
            <a class="btn btn-danger pull-right" href="/#!/course/{{courseId}}" role="setting">Cancel</a>
        </div>
</section>
