<section data-ng-controller="LectureController">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="page-header" style="text-align: center"><h1>{{ lesson.name }}</h1></div>
            <videogular vg-theme="config.theme" vg-height="config.height" vg-width="config.width" class="videogular-container embed-responsive-item">
			    <vg-media vg-src="config.sources"
					      vg-tracks="config.tracks">
			    </vg-media>
                <vg-controls>
				    <vg-play-pause-button></vg-play-pause-button>
				    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				    <vg-scrub-bar>
					    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				    </vg-scrub-bar>
				    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				    <vg-volume>
					    <vg-mute-button></vg-mute-button>
					    <vg-volume-bar></vg-volume-bar>
				    </vg-volume>
				    <vg-fullscreen-button></vg-fullscreen-button>
			    </vg-controls>
                
			    <vg-overlay-play></vg-overlay-play>
	        </videogular>
            <br/>
            <h4 style="text-align: center">{{ lesson.description }}</h4>
            <br/>
            <button type="submit" class="btn btn-success btn-lg center-block" ng-click="modalUserUpload(sm, lesson)"> 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Upload Response 
            </button>
        </div>
    </div>
</section>
