<section data-ng-controller="LessonController">
    <div style="padding: 15px">
        <div class="form-group">
            <h4 style="text-align:center"><b>Video Link</b></h4>
            <div class="input-group">
                <input type="text" id="link" class="form-control" data-ng-model="url" placeholder="Paste a link from Youtube, Vimeo, Dropbox, etc.">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="create();ok()">Submit</button>
                </span>
            </div>
        </div>
        <h4 style="text-align:center">Need an app to record your video and upload it to Youtube?</h4>
        <h5 style="text-align:center">We recommend <a href="https://www.youtube.com/capture/download">YouTube Capture.</a></h5>
    </div>
</section>
