<section data-ng-controller="LessonListController as lessonsCtrl" data-ng-init="lessonsCtrl.list()">
	<div class="container" >
        <div class="col-md-1"></div>
        <div class="col-md-10">
		<div class="page-header">
	    	<h1 style="text-align: center;">{{ course.name }}</h1>
		</div>
		<div class="panel panel-success" data-ng-repeat="lesson in lessons">
		    <div class="panel-body">
		        <div class="media-left media-middle">
		            <a href="/#!/course/{{lesson.courseId}}/{{lesson._id}}">
		                <img class="media-object" style="height:80px;" src="http://upload.wikimedia.org/wikipedia/commons/9/9f/Wikiversity-Mooc-Icon-Video.svg" alt="...">
		            </a>
		        </div>
		        <div class="media-body">
		            <h1> 
		                <a href="/#!/course/{{lesson.courseId}}/{{lesson._id}}">
		                    {{ lesson.name }}
		                </a>
		                <div class="btn-group pull-right">
                            <button class="btn btn-default btn-sm" type="submit" data-ng-click="lessonsCtrl.modalUpdate('lg', lesson)" ng-show="lessonsCtrl.authentication.user.roles.indexOf('instructor') > -1 || lessonsCtrl.authentication.user.roles.indexOf('admin') > -1"> Edit </button>
                            <button class="btn btn-default btn-sm" type="submit" data-ng-click="lessonsCtrl.modalRemove('sm', lesson)" ng-show="lessonsCtrl.authentication.user.roles.indexOf('admin') > -1"> Delete </button>
		                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalUpdate('lg', course)" ng-show="lessonsCtrl.authentication.user.roles.indexOf('instructor') > -1 || lessonsCtrl.authentication.user.roles.indexOf('admin') > -1">
		                    	<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		                    </button>
		                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalRemove('sm', course)" ng-show="lessonsCtrl.authentication.user.roles.indexOf('admin') > -1">
		                    	<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		                    </button>
		                </div>
		            </h1>
		        </div>
		    </div>
		    <div class="panel-footer clearfix" style="background-color: #DFF0D8">
                <h4>
                    {{ lesson.description }}
                    <div class="pull-right"><font color="#3c763d">Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></font></div>
                    <br/>
                </h4>
            </div>
		</div>
	</div>
    </div>
    <div class="col-md-1"></div>
</section>
