<section data-ng-controller="CalendarController" data-ng-init="list()">
    <div class="container">
        <div class="col-md-4" background-color="#000000">
            <div class="page-header">
                <h1>Hours</h1>
            </div>
            <div class="panel" data-ng-class="getOpenPanelClass()">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {{ getOpenPanelText() }}
                    </h1>
                </div>
                <div class="col-panel-body">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Day</th>
                            <th>Open Time</th>
                            <th>Close Time</th>
                        </tr>
                        <tr data-ng-repeat="day in days" data-ng-if="day.isOpen" data-ng-style="getDayStyle($index)">
                            <td></td>
                            <td>{{ day.name }}</td>
                            <td>{{ hourFormat(day.openHour) }}</td>
                            <td>{{ hourFormat(day.closeHour) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h1>Events</h1>
            </div>
            <div class="row" ng-show="authentication.user.roles.indexOf('instructor') > -1 || 
                                      authentication.user.roles.indexOf('admin') > -1">
                <div class="col-md-6" align="right">
                    <p class="input-group" style="vertical-align: middle">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>
                <div class="col-md-6">
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" required ng-model="event.title" placeholder="Event Title" rows="1"></input>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" required ng-model="event.body" placeholder="Event Description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" ng-click="create()" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div></div>
            <div data-ng-repeat="event in events" data-ng-onclick="#!/events/{{event._id}}" class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ event.title }}</h1>
                </div>
                <div class="panel-body">
                    <h4><b>{{ moment(event.date).format('MMMM DD, YYYY') }}</b></h4>
                    <p>
                        {{ event.body }}
                        <button class="btn btn-danger pull-right" type="submit" data-ng-click="remove(event)" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>
