<section data-ng-controller="CalendarController" data-ng-init="list()">
    <div class="container">
        <div class="col-md-4" background-color="#000000">
            <div class="page-header">
                <h1>Hours</h1>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">Currently Open</h1>
                </div>
                <div class="col-panel-body">
                    <table class="table">
                        <tr>
                            <th>Day</th>
                            <th>Open Time</th>
                            <th>Close Time</th>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>7:00 AM</td>
                            <td>6:00 PM</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>7:00 AM</td>
                            <td>6:00 PM</td>
                        </tr>
                        <tr style="background:whitesmoke">
                            <td>Wednesday</td>
                            <td>7:00 AM</td>
                            <td>6:00 PM</td>
                        </tr>
                        <tr>
                            <td>Thursdau</td>
                            <td>7:00 AM</td>
                            <td>6:00 PM</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>7:00 AM</td>
                            <td>6:00 PM</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h1>Events</h1>
            </div>
            <div data-ng-repeat="event in events" class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ event.title }}</h1>
                </div>
                <div class="panel-body">
                    <h4><b>{{ event.date }}</b></h4>
                    <p>
                        {{ event.body }}
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Moving Day</h1>
                </div>
                <div class="panel-body">
                    <h4><b>Febuary 16th, 3:00 pm</b></h4>
                    <p>
                        Come join us for moving day! Where we will be moving around all the furniture in the studio 360 degrees so that it all ends up back in the same location!
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Moving Day</h1>
                </div>
                <div class="panel-body">
                    <h4><b>Febuary 17th, 3:00 pm</b></h4>
                    <p>
                        Come join us for moving day! Where we will be moving around all the furniture in the studio 360 degrees so that it all ends up back in the same location!
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Moving Day</h1>
                </div>
                <div class="panel-body">
                    <h4><b>Febuary 18th, 4:00 pm</b></h4>
                    <p>
                        Come join us for moving day! Where we will be moving around all the furniture in the studio 360 degrees so that it all ends up back in the same location!
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Moving Day</h1>
                </div>
                <div class="panel-body">
                    <h4><b>Febuary 19th, 2:00 pm</b></h4>
                    <p>
                        Come join us for moving day! Where we will be moving around all the furniture in the studio 360 degrees so that it all ends up back in the same location!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
