<section data-ng-controller="DashboardController">
    <div class="container">
        <div class="page-header">
            <h1 style="text-align: center;">My Dashboard</h1>
        </div>
        <div class="col-md-8">
            <h2 style="text-align: center; margin-top: 0px">Notifications</h2>
        	<div class="panel panel-primary">
        	 	<div class="panel-heading">
				    <div class="panel-title" style="text-align: center">
				   		Student: <b>Awesome Test User</b>, Level: <b>Yellow Belt</b>
				    </div>
				</div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
					    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CrXDP8xEqp4" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br/>
					<form name="feedback" action="/my-handling-form-page" method="post" style="border:0; margin: 0;">
                        <div class="form-group">
                            <textarea class="form-control" required ng-model="message.feedback" placeholder="Provide Feedback" rows="3"></textarea>
                        </div>
					</form>
	            	<div class="wrapper">
	                	<button type="button" class="btn btn-info btn-lg "> 
	                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	                        Fail
	                    </button>
	                    <button type="button" class="btn btn-success btn-lg"> 
	                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	                        Pass
	                	</button>
	                	<div class="panel-footing"></div>
	                </div>
            	</div>
            </div>
        </div>
        <div class="col-md-4" >
            <h2 style="text-align: center; margin-top: 0px">Classes</h2>
            <ul class="list-group">
				<a href="#" class="list-group-item active">
				    <span class="badge">7</span>
				    Karate
				</a>

				<a href="#" class="list-group-item">
				    <span class="badge">5</span>
				    Kung Fu
				</a>
			</ul>
        </div>
    </div>
</section>

<!--
<div class="list-group-item">
	<div class="row">
		<div class="col-xs-6 media-left">Student name: Test user</div>
		<div class="col-xs-6 media-right" >Level: Yellow belt</div>
	</div>
	Student feedback:
</div>
<div class="list-group-item">
	Your feedback:
</div>
-->
