<section data-ng-controller="DashboardController" ng-init="submissionsList(); usersList()">
    <div class="container">
        <div class="page-header">
            <h1 class="bg-text" style="text-align: center">My Dashboard</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div data-ng-show="!submissions.length">
                <h3 style="text-align: center; color: #b0b0b0"> Your inbox is empty! :) </h3>
            </div>
            <div class="panel panel-default" data-ng-repeat="submission in submissions">
                <div class="panel-body">
                    <h3 style="margin-bottom: 18px; margin-top: 0px;"> <span class="label label-primary">{{ submission.courseName }}</span> <span class="label label-default">{{ submission.lessonName }}</span></h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{submission.url}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <h4 style="margin-bottom: 15px">Uploaded by <b>{{ submission.userDisplayName }}</b></h4>
                    <form name="feedback" action="/my-handling-form-page" method="post">
                        <div class="form-group">
                            <textarea class="form-control floating-label" type="text" data-ng-model="submission.body" required placeholder="Provide Feedback" rows="3"></textarea>
                        </div>
                    </form>
                    <div class="wrapper">
                        <div class="col-xs-6" style="padding-right: 5px; padding-left: 0px">
                            <button type="button" class="btn btn-success btn-lg" style="width: 100%" ng-click="pass(submission)">
                                <i class="fa fa-check"></i> Pass
                            </button>
                        </div>
                        <div class="col-xs-6" style="padding-right: 0px; padding-left: 5px">
                            <button type="button" class="btn btn-danger btn-lg" style="width: 100%" ng-click="fail(submission)">
                                <i class="fa fa-times"></i> Fail
                            </button>
                        </div>
                        <div class="panel-footing"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="panel panel-default" style="padding: 10px">
                <input class="form-control floating-label" id="focusedInput"  type="text" ng-model="searchText" placeholder="Search...">
            </div>
            <div class="panel panel-default" data-ng-repeat="user in users | filter:searchText">
                <div class="panel-body">
                    <h3 style="margin: 0px">{{ user.displayName }}</h3>
                    <h4 style="margin-bottom: 0px"><i>{{ user.username }}</i> &nbsp <font color="#ccc">|</font> &nbsp <b>Red Belt</b>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalUpdate('lg', course)" ng-show="authentication.user.roles.indexOf('instructor') > -1 || authentication.user.roles.indexOf('admin') > -1">
		                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
		                    </button>
		                    <button class="btn btn-default btn-sm" type="submit" data-ng-click="modalRemove('sm', course)" ng-show="authentication.user.roles.indexOf('admin') > -1">
		                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		                    </button>
                        </div>
                    </h4>
                    </table>
                </div>
            </div>
        </div>
        -->
    </div>
</section>
