<section data-ng-controller="DashboardController">
    <br/>
    <div class="container" data-ng-init="grabUsersCourses(); getAllLessons()">
        <div class="page-header">
            <h1 style="text-align: center;">My Dashboard</h1>
        </div>
        <!-- Begin Notification Section -->
		<!-- 
			Dashboard Page
			Users - Course Progress and Notifications
			Admin - Pending Approvals and List of courses managed
		-->
        <div class="col-md-4" >
            <h2 style="text-align: center; margin-top: 0px">Notifications</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Notification Title</h4>
                    <p class="list-group-item-text">This is some notification text</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Master Wu Accepted Your Submission</h4>
                    <p class="list-group-item-text">Click to recieve feedback.</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Notification Title</h4>
                    <p class="list-group-item-text">This is some notification text</p>
                </a>
            </div>
        </div>

        <!-- Begin Courses Section -->
        
        <div class="col-md-8"> 
            <h2 style="text-align: center; margin-top: 0px">Course Progress</h2>
            <div class="panel panel-default" data-ng-repeat="course in courses">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" style="height:64px;" src="http://www.coreygates.com/afma/images/roundhouse-kick.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
							<a href="/#!/course/{{course._id}}">
                            	<h1>{{course.name}}</h1>
							</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{getCoursePercent(course)}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">
                            <!--40% Complete-->
							<!--{{(response*100/poll.responses.reduce(add,0)).toRound(course.getAll) + '%'}}-->
							{{getCoursePercent(course)}} % Complete
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <a href="/#!/courses">
                    <button type="button" class="btn btn-success btn-lg pull-right"> 
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Purchase New Course 
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
